<div id="scrollto">

<div class="section black" id="section1">
  <ul class="nav">
    <li>About Me</li>
    <li><a href="#section2">Gallery</a></li>
    <li><a href="#section3">Contact</a></li>
  </ul>
  <h2>About Me</h2>
  <p>
    MY Spectre around me night and day
    Like a wild beast guards my way;
    My Emanation far within
    Weeps incessantly for my sin.
  </p>
  
</div>
<div class="section white" id="section2">
  <ul class="nav">
    <li><a href="#section1">About Me</a></li>
    <li>Gallery</li>
    <li><a href="#section3">Contact</a></li>
  </ul>
      <h2>Gallery</h2>
  <p >
    A fathomless and boundless deep,
    There we wander, there we weep;
    On the hungry craving wind
    My Spectre follows thee behind.
  </p>
</div>
<div class="section black" id="section3">
  <ul class="nav">
    <li><a href="#section1">About Me</a></li>
    <li><a href="#section2">Gallery</a></li>
    <li>Contact</li>
  </ul>
  <h2>Contact Me</h2>
  <p>
    He scents thy footsteps in the snow
    Wheresoever thou dost go,
    Thro' the wintry hail and rain.
    When wilt thou return again?
  </p>
</div>
<div>
