 <div id = 'main_menu'>
          <table  id = 'mainmenu_table' align='center' border= 0>
                <tr>
                    <th>
                       <%= link_to image_tag('mywork_button.png', :border=>'0'), :controller=>'homes', :action=>'business_page' %> 
                    </th> 
                    <th>
                       <h3><b style="color:#fff;">&</b></h3>
                    </th> 
                    <th>
                       <%= link_to image_tag('personal_button.png', :border=>'0'), :controller=>'homes', :action=>'personal_page' %>
                    </th>                                   
                </tr>
          </table>
  </div> 
  <div id='forset'>
       <img src = '/images/forest.png' id='forest'/>
  </div>